<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div> -->

<!-- 
 -->
<!-- *ngif directive -->
<!-- 
  condition is true add element into dom
</p>
<p *ngIf="!condition">
  condition false and remove element from DOM</p>
<router-outlet></router-outlet>
<button class="btn btn-danger" >bootstrap</button>-->
<!-- <app-comp1></app-comp1> -->
<!-- <app-ngfor></app-ngfor>  -->
<app-ngswitch></app-ngswitch>
<!-- <app-comp2></app-comp2> -->